<!-- <div class="mb-3 card bg-light" style="max-width: 100%; margin-top: 50px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <a href="/book/">
        {% include image.html file="/assets/images/book-cover.jpg" alt="Markdown Guide book cover" lazy="yes" %}
      </a>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="padding-left: 6%;">
        <h5 class="card-title no-anchor" data-toc-skip>Take your Markdown skills to the next level.</h5>
        <p class="card-text">Learn Markdown in 60 pages. Designed for both novices and experts, <em>The Markdown
            Guide</em> book is a comprehensive reference that has everything you need to get started and master Markdown
          syntax.</p>
        <a class="btn btn-success" style="margin-top: 5px; margin-right: 15px" href="/book/">Get the Book</a>
      </div>
    </div>
  </div>
</div> -->

<div class="card border-info" style="margin-top: 50px">
  <h6 class="text-white card-header no-anchor bg-info" data-toc-skip>هل تريد معرفة المزيد عن Markdown؟</h6>
  <div class="card-body">
    <p class="card-text">
      لا تتوقف الآن! 🚀 قم بتمييز مستودع GitHub بنجمة ثم أدخل عنوان بريدك الإلكتروني أدناه لتلقي دروس Markdown التعليمية
      الجديدة عبر البريد الإلكتروني. نحن لا نرسل بريدا مزعجا!</p>

    <form novalidate=""
          action="https://abdelhadi.us7.list-manage.com/subscribe/post?u=9999f03885e9bdcba8a67d844&amp;amp;id=81226bf11f"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="subscribe-form css-1qgkh6" target="_blank">

      <div class="form-group" style="margin-top: 20px">

        <input type="email" class="form-control form-control-lg" name="MERGE0" id="MERGE0"
               placeholder="البريد الالكتروني" />
        <input type="hidden" value="Markdown Guide" class="form-control form-control-lg" name="MERGE1" id="MERGE1" />

        <div style="position:absolute;left:-5000px; display:none;" aria-hidden="true">
          <input type="text" name="b_9999f03885e9bdcba8a67d844_81226bf11f" tabindex="-1">
        </div>
      </div>
      <button type="submit" class="btn btn-success">ابقني على اطلاع</button>
    </form>
  </div>
</div>